#include "menu.hpp"

ID_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\aCtrl+N", IDM_NEW
		MENUITEM "&Open\aCtrl+O", IDM_OPEN
		MENUITEM "&Save\aCtrl+S", IDM_SAVE
		MENUITEM "Save &As\aCtrl+Shift+S", IDM_SAVE_AS
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\aCtrl+Z", IDM_UNDO 
		MENUITEM "&Redo\aCtrl+Y", IDM_REDO 
		MENUITEM "&Grid\aCtrl+G", IDM_GRID, CHECKED 
	END
	POPUP "&Tiles"
	BEGIN
		MENUITEM "&Blank", IDM_BLANK 
		MENUITEM "&Wall&", IDM_WALL, CHECKED 
		MENUITEM "&Player", IDM_PLAYER 
		MENUITEM "&Door", IDM_DOOR
	END
END

ID_ACCELERATOR ACCELERATORS
BEGIN
	"N", IDM_NEW, CONTROL, VIRTKEY
	"O", IDM_OPEN, CONTROL, VIRTKEY
	"S", IDM_SAVE, CONTROL, VIRTKEY
	"S", IDM_SAVE_AS, CONTROL, SHIFT, VIRTKEY

	"Z", IDM_UNDO, CONTROL, VIRTKEY
	"Y", IDM_REDO, CONTROL, VIRTKEY
	"G", IDM_GRID, CONTROL, VIRTKEY
END

