#include "menu.h"

ID_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\aCtrl+N", ID_NEW
		MENUITEM "&Open\aCtrl+O", ID_OPEN
		MENUITEM "&Save\aCtrl+S", ID_SAVE
		MENUITEM "Save &As\aCtrl+Alt+S", ID_SAVEAS
	END
END

ID_ACCELERATOR ACCELERATORS
BEGIN
	"N", ID_NEW, CONTROL, VIRTKEY
	"O", ID_OPEN, CONTROL, VIRTKEY
	"S", ID_SAVE, CONTROL, VIRTKEY
	"S", ID_SAVEAS, CONTROL, ALT, VIRTKEY
END
