#include "menu.hpp"

ID_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\aCtrl+N", IDM_NEW
		MENUITEM "&Open\aCtrl+O", IDM_OPEN
		MENUITEM "&Save\aCtrl+S", IDM_SAVE
		MENUITEM "Save &As\aCtrl+Shift+S", IDM_SAVE_AS
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\aCtrl+Z", IDM_UNDO 
		MENUITEM "&Redo\aCtrl+Y", IDM_REDO 
		MENUITEM "&Grid\aCtrl+G", IDM_GRID, CHECKED 
		MENUITEM "R&esize\aCtrl+R", IDM_RESIZE 
	END
	POPUP "&View"
	BEGIN
		MENUITEM "Zoom &In\aCtrl++", IDM_ZOOM_IN 
		MENUITEM "Zoom &Out\aCtrl+-", IDM_ZOOM_OUT
		MENUITEM "Zoom &Default\aCtrl+0", IDM_ZOOM_DEF
	END
	POPUP "&Tiles" 
	BEGIN
		MENUITEM "&Blank", IDM_BLANK 
		MENUITEM "&Grass", IDM_GRASS, CHECKED 
		MENUITEM "G&round", IDM_GROUND 
	END
	POPUP "&Entities"
	BEGIN
		MENUITEM "&Player", IDM_PLAYER
		MENUITEM "&Crabby", IDM_CRABBY
	END
	POPUP "&Run"
	BEGIN
		MENUITEM "&Run\aF9", IDM_RUN 
	END
END

ID_ACCELERATOR ACCELERATORS
BEGIN
	"N", IDM_NEW, CONTROL, VIRTKEY
	"O", IDM_OPEN, CONTROL, VIRTKEY
	"S", IDM_SAVE, CONTROL, VIRTKEY
	"S", IDM_SAVE_AS, CONTROL, SHIFT, VIRTKEY

	VK_OEM_PLUS, IDM_ZOOM_IN, CONTROL, VIRTKEY
	VK_OEM_MINUS, IDM_ZOOM_OUT, CONTROL, VIRTKEY
	"0", IDM_ZOOM_DEF, CONTROL, VIRTKEY

	"Z", IDM_UNDO, CONTROL, VIRTKEY
	"Y", IDM_REDO, CONTROL, VIRTKEY
	"G", IDM_GRID, CONTROL, VIRTKEY
	"R", IDM_RESIZE, CONTROL, VIRTKEY

	VK_F9, IDM_RUN, VIRTKEY
END

ID_RESIZE DIALOGEX 0, 0, 64, 48 
STYLE WS_VISIBLE | WS_SYSMENU
CAPTION "Resize Map"
BEGIN
	LTEXT "Width", IDD_STATIC, 8, 6, 32, 12
	LTEXT "Height", IDD_STATIC, 8, 18, 32, 12 
	EDITTEXT IDD_WIDTH, 40, 4, 16, 12, ES_NUMBER 
	EDITTEXT IDD_HEIGHT, 40, 16, 16, 12, ES_NUMBER 
	DEFPUSHBUTTON "OK", IDOK, 4, 32, 26, 10
	PUSHBUTTON "Cancel", IDCANCEL, 34, 32, 26, 10
END
